<div class="explore">
    <div class="explore__devider">*****</div>
    <div class="explore__label">categories</div>
    <ul class="categories">
        {% for category in site.data.categories %}
            <li class="categories__item"><a href="{{ '/categories/' | append: category.slug | prepend: site.baseurl }}">{{ category.name }}</a></li>
        {% endfor %}
		<li class="categories__item"><a href="{{ '/' | prepend: site.baseurl }}">all</a></li>
    </ul>
	<div class="explore__label">i also made a <a href="/newtab/index.html">new tab</a> page, or <a href="/startpage/index.html">two</a>.</div>
</div>
